* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background: linear-gradient(95deg, #000000, #434343);
  background-size: 400% 400%;
  -webkit-animation: gradient 10s ease infinite;
          animation: gradient 10s ease infinite;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
.header {
  background-color: rgb(17, 16, 16);
  margin-bottom: 100px;
}
.header__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.header__logo {
  padding: 0 20px 0 0;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.menu-header__items {
  display: flex;
  gap: 25px;
}
.menu-header__link {
  font-size: 20px;
  color: white;
}
.menu-header__link:hover {
  text-decoration: underline;
}

.page {
  flex: 1 1 auto;
}
.page__items {
  display: flex;
  text-align: center;
  gap: 30px;
}

.items-page__column {
  border: 1px solid white;
  flex: 0 1 33.333%;
}
.items-page__logo {
  margin-bottom: 40px;
}
.items-page__title {
  color: white;
  margin-bottom: 40px;
  font-size: 30px;
}
.items-page__text {
  color: white;
  font-size: 20px;
  margin-bottom: 10px;
}

.footer {
  text-align: center;
  padding: 20px 0;
  background-color: rgb(17, 16, 16);
}
.footer__info {
  font-size: 20px;
  color: white;
}